*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  list-style: 17px;
  color: #131313;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  padding-left: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.menu {
  margin-right: 70px;
}
.menu__list {
  display: flex;
}
.menu__item + .menu__item {
  padding-left: 10px;
}
.menu__link {
  text-transform: uppercase;
  padding: 42px 20px;
  transition: all 0.3s;
}
.menu__link:hover {
  background-color: #131313;
  color: #fff;
}

/* SECTION-START */

.bike {
  padding: 100px 0 150px;
}
.bike__inner {
  display: flex;
  justify-content: space-between;
}
.bike__column-slider {
  flex-basis: 630px;
  margin-left: 31px;
  max-width: 630px;
}
.bike__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  margin: 60px 0 5px;
}
.bike__subtittle {
  margin: 0 0 60px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #6f6f6f;
}
.bike__text {
  max-width: 420px;
  margin-bottom: 20px;
}
.bike__link {
  margin-top: 80px;
  display: inline-block;
  background: #131313;
  color: white;
  padding: 28px 65px 28px 81px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  transition: all 0.5s;
}
.bike__link:hover {
  background-color: #ff4040;
}

.bike__slider .slick-dots {
  right: 0;
  top: 50px;
}
.slick-dots {
  position: absolute;
}
.slick-dots li + li {
  padding-top: 10px;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  background-color: #131313;
  width: 2px;
  height: 25px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}
.slick-active button {
  background-color: #ff4040;
}

.slick-dots button:hover {
  background-color: #ff4040;
}

.bike__list {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}
.bike-list__item {
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 58px;
}
.bike_list_num {
  font-weight: 700;
  text-transform: uppercase;
}

.bike_list_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: auto 0;
}

/* SECTION END */

/* SECTION START */
.info {
  margin-bottom: 50px;
}
.info__inner {
  display: flex;
}
.info__img {
  margin-right: 60px;
  flex-basis: 570px;
  object-fit: cover;
}
.info__list {
  flex-basis: 490px;
}

.info__item + .info__item {
  padding-top: 50px;
}

.info__item-title {
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.info__item-text {
  max-width: 450px;
}
/* SECTION END */

/* SECTION START */
.characteristics {
  padding-top: 100px;
  margin-bottom: 150px;
}
.characteristics__head {
  margin: 0 0 40px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.characteristics__inner {
  display: flex;
}
.characteristics__img {
  align-self: center;
}

.characteristics__items {
  margin-right: 60px;
  flex-basis: 570px;
}
.characteristics__list + .characteristics__list {
  padding-top: 30px;
}

.characteristics__title {
  font-weight: 700;

  padding: 2px 0 3px;
  text-transform: uppercase;
  background-color: #131313;
  color: #fff;
}
.characteristics__line {
  display: flex;
  padding-top: 5px;
}
.characteristics__name {
  flex-basis: 285px;
  padding-right: 20px;
}

.characteristics__descr {
  flex-basis: 285px;
}

/* SECTION END */

/* SLIDER START */

.slider {
  margin-bottom: 50px;
}
.slick-dots {
  top: 0;
}
.slider__item {
  padding-left: 50px;
}

/* SLIDER END */

/* SECTION START */
.price {
  margin-bottom: 100px;
}
.form {
  max-width: 420px;
}
.price__inner {
  position: relative;
}
.form__bike-price {
  font-size: 32px;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  width: 220px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff4040;
  border-radius: 50%;
  transform: translateX(-50%);
}
.form__bike-price::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 100px;
  border: 1px solid #ff4040;
  border-radius: 50%;
  top: 12px;
  left: 0;
}
.form__title {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.form__text {
  max-width: 300px;
  margin-bottom: 30px;
}
.form__input-name,
.form__input-phone {
  width: 100%;
  border: none;
  border-bottom: 1px solid #131313;
  padding-bottom: 10px;
  margin-bottom: 20px;
  outline: none;
}
.form__input-name::placeholder,
.form__input-phone::placeholder,
.form__input-text {
  color: #6f6f6f;
  opacity: 0.5;
}
.form__label + .form__label {
  margin-left: 23px;
}
.form__input-text {
  margin-bottom: 10px;
}
.form__label-box {
  display: flex;
  margin-bottom: 50px;
}
.form__input-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.form__input-radio:checked + .form__bike {
  display: block;
}
.form__bike {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.form__radio-style {
  border-radius: 30px;
  width: 80px;
  height: 12px;
}
.form__radio-style--grey {
  background: #6f6f6f;
}
.form__radio-style--white {
  background: #fff;
  border: 1px solid #6f6f6f;
}
.form__radio-style--red {
  background: #ff4040;
}
.form__btn {
  background-color: #131313;
  padding: 28px 65px 28px 81px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  cursor: pointer;
  transition: all 0.5s;
}
.form__btn:hover {
  background-color: #ff4040;
}
/* SECTION END */

/* FOOTER START */
.footer {
  background-color: #131313;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.footer__link {
  color: #fff;
  text-decoration: underline;
  font-size: 12px;
  line-height: 15px;
}
.footer__social-link + .footer__social-link {
  margin-left: 28px;
}
.footer__contacts {
  color: #fff;
  font-size: 12px;
  line-height: 15px;
}
.footer__contacts-link {
  display: flex;
  align-items: center;
}
.footer__contacts-link + .footer__contacts-link {
  margin-top: 10px;
}
.footer__contacts-img {
  margin-right: 10px;
}
/* FOOTER END */

/* ADAPTIVE START */
@media (max-width: 1140px){
  .form__bike-img{
    width: 500px;
  }
  .form__bike{
    top: 45px;
  }
  .form__bike-price{
    top: 8px;
  }
}
@media (max-width: 1110px) {
  .price{
    margin-bottom: 50px;
  }
  .bike__inner {
    flex-wrap: wrap;
  }
  .bike__text {
    max-width: 100%;
  }
  .bike {
    padding: 0;
  }
  .characteristics {
    padding-top: 50px;
    margin-bottom: 50px;
}
  .bike__link {
    margin-top: 30px;
  }
  .bike__column {
    margin-bottom: 30px;
  }
  .bike__column-slider {
    max-width: 100%;
    margin-left: 0;
  }
  .info__img{
     display: none;
  }
  .info__list{
    flex-basis: 100%;
  }
  .info__item-text{
    max-width: 100%;
  }
  .info{
    padding-top: 50px;
  }
  .slider__img{
    object-fit: cover;
    height: 450px;
  }

}

@media (max-width: 991px) {
  .menu {
    margin-right: 0px;
  }
  .characteristics__inner{
    flex-wrap: wrap;
  }
  .characteristics__img{
    order: -1;
    width: 100%;
    margin-bottom: 40px;
  }
  .characteristics__items{
    flex-basis: 100%;
    margin-right: 0;
  }
  .characteristics__name{
    flex-basis: 50%;
  }
  .characteristics__descr{
    flex-basis: 50%;
  }
  .characteristics__head{
    text-align: center;
    margin: 0;
  }
  .form__label-box{
    margin-bottom: 300px;
  }
  .form__bike{
    top: auto;
    bottom: 85px;
    left: 0;
    right: auto;
  }
  .form__bike-img{
    width: 428px;
  }
  .form__bike-price{
    right: -20%;
    transform:translateX(70%) ;
    left: auto;
    top: 0;
  }
}
@media (max-width: 780px){
  .form__bike-price{
    right: 0;
    top: -50px;
    transform: translateX(50%);
  }
}
@media (max-width: 670px) {
  .bike__title {
    font-size: 44px;
    line-height: 57px;
    margin: 30px 0 5px;
  }
  .bike__subtittle {
    margin: 0 0 35px;
    font-size: 22px;
    line-height: 29px;
  }
  .bike__list {
    flex-wrap: wrap;
  }
  .bike-list__item {
    width: 50%;
    margin-bottom: 15px;
  }
}
@media (max-width: 640px) {
  .header__inner {
    display: block;
    text-align: center;
  }
  .menu {
    margin-top: 50px;
  }
  .menu__list {
    justify-content: space-evenly;
  }
  .menu__item + .menu__item {
    padding-left: 0;
  }
  .menu__link {
    padding: 25px 20px;
  }
  .bike__column{
    margin-bottom: 5px;
  }
  .info{
    padding-top: 30px;
  }
  .info__item + .info__item{
    padding-top: 26px;
  }
  .slider__img{
    height: 314px;
  }
  .slider__item{
    padding-left: 10px;
  }
}
@media (max-width: 580px){
  .form__bike-price{
      right: auto;
      top: 50px;
      transform: translateX(0%);
      left: 0;
      display: block;
      font-size: 18px;
      border: none;
      width: 100%;
      border-radius: 0;
      height: auto;

  }
  .form__bike-price span{
    background-color: #131313;
    color: #fff;
    display: inline-block;
    padding: 3px;
  }
  .form__bike-price::after{
    display: none;
  }
  .footer__inner{
    display: block;
    height: auto;
    padding: 15px 0;
    text-align: center;
  }
  .footer__social{
    padding: 15px 0;
  }
  .footer__contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 460px) {
  .menu__link {
    padding: 25px 0;
  }
  .bike__link,
  .form__btn{
    padding: 15px;
    letter-spacing: 0.9em;
  }
  
  .slider{
    display: none;
  }
  .form__bike{
  bottom: 50px;
  }
  .form__title{
    text-align: center  ;
  }
  .form__text{
    text-align: center;
    max-width: 100%;
  }
  .form__input-text{
    text-align: center;
  }
  .form__label-box{
    justify-content: center;
  }
}
@media (max-width: 430px){
  .form__bike-img {
    width: 300px;
}
.form__label-box{
  margin-bottom: 200px;
}
.form__bike-price{
  top: 20px;
  font-size: 12px;
}
.form__bike{
  bottom: 55px;
}
}
@media (max-width: 350px) {
  .menu {
    margin-top: 30px;
  }
  .menu__link {
    font-size: 13px;
  }
  .info__item-title{
    font-size: 15px;
  }
  .form__bike-img{
    width: 300px;
  }
}
